body{
font-family:'Noto Sans TC', sans-serif;
}
h1,h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family:'Noto Sans TC', sans-serif;
}
  
.expedu_icon{
    color:#0080FF;
} 
.expedu_icon:hover {
    background-color:#0080FF ;
    color: #fff;
}
.expedu_icon{
    color: var(#84C1FF	);
} 
a{
    color: var(#84C1FF	); 
}
.social-icons .social-icon:hover  {
    background-color:var(#84C1FF	) ;
}